<!DOCTYPE html>
<html>

<head>
	<style>
		.footer-content {
			display: flex;
			justify-content: space-between;
		}

		.footer-content .section {
			flex: 1;
			padding: 10px;
			/* Adjust the padding as needed */
		}

		.footer-content .section ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.footer-content .section ul li {
			display: inline;
			margin-right: 10px;
		}
	</style>
</head>

<body>
	<footer id="footer" class="container-fluid text-center align-content-center footer pb-2">
		<div class="container pt-3"> <!-- Adjust the padding as needed -->
			<div class="footer-content">
				<div class="section">
					<h5>Navigation</h5>
					<ul>
						<li class="nav-item">
							<a class="smooth-scroll" href="https://claytonjack.com">Home</a>
						</li>

						<li class="nav-item">
							<a class="smooth-scroll" href="https://claytonjack.com#about">About</a>
						</li>

						<li class="nav-item">
							<a class="smooth-scroll" href="https://claytonjack.com#skills">Skills</a>
						</li>

						<li class="nav-item">
							<a class="smooth-scroll" href="https://claytonjack.com#education">Education</a>
						</li>

						<li class="nav-item">
							<a class="smooth-scroll" href="https://claytonjack.com/posts">Posts</a>
						</li>
					</ul>
				</div>

				<div class="section">
					<h5>Contact me:</h5>
					<ul>
						<li><a href=mailto:claytojo@sheridancollege.ca target="_blank" rel="noopener">
								<span><i class="fas fa-envelope"></i></span> <span>claytojo@sheridancollege.ca</span>
							</a></li>

						<li><a href=https://www.linkedin.com/in/claytonjack target="_blank" rel="noopener">
								<span><i class="fab fa-linkedin"></i></span> <span>Jack Clayton</span>
							</a></li>

						<li><a href=https://github.com/claytonjack target="_blank" rel="noopener">
								<span><i class="fab fa-github"></i></span> <span>claytonjack</span>
							</a></li>
					</ul>
				</div>
			</div>
		</div>

		<hr />
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">© 2023 Copyright.</div>
			</div>
		</div>
	</footer>
</body>

</html>